@mixin button($w:220px,$h:50px) {
    width: $w;
    height: $h;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient($color-secondaire, $color-primaire);
    font-size: 15px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.4);
    border: none;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 7px 10px rgba($color: #000000, $alpha: 0.5);
        background: linear-gradient(rgba($color: $color-secondaire, $alpha: 0.9), rgba($color: $color-primaire, $alpha: 0.9));

    }
}