body{
    margin-top: $header-height;
}
.header {
    @include flex;
    height: $header-height;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    transform: translateY(-$header-height);
    &__arrow {
        position: absolute;
        top: 20px;
        left: 20px;
        color: $color-dark;
        font-size: 18px;
    }

    &__logo {
        width: 170px;
        @include tablette-only{
        width: 200px;
        }
    }

}

