.icon {
    @include flex;
    width: 50px;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:hover .icon--plein {
        transform: scale(1);
        z-index: 10;
    }

    &:hover div {
        opacity: 0;
        transform: scale(0);
    }

    &>div {
        opacity: 1;
        transform: scale(1);
        color: black;
    }

    &--plein {
        width: 23px;
        height: 22px;
        position: absolute;
        transform: scale(0);
    }
}